<<<<<<< HEAD
<h1>Create new route</h1>

<%= render 'form', route: @route %>
=======
<h1>Новый маршрут</h1>

<%= render 'form', route: @route %>

<%= link_to 'Назад', routes_path %>
>>>>>>> 56a344c1521400ad4c87c72a38b950c910fe8f5c
